.KeyInner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 18px;
  margin: 0 auto;
  height: 100%;
}

.KeyOuter {
  height: 100px;
  width: 100px;
  background-color: white;
  color: black;
  display: inline-block;
  justify-content: center;
  cursor: pointer;
}