.KeyInner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
}

.KeyOuter {
  height: 80px;
  width: 25vw;
  margin: 2px;
  background-color: white;
  color: black;
  display: inline-block;
  justify-content: center;
  cursor: pointer;
}